[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gruvbox-ipython = {editable = true,path = "."}
ipython = "*"
sphinx = "*"

[packages]
gruvbox-ipython = {editable = true,path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
